body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 20px;
  gap: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 10px;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td:first-child {
  background-color: #f7f7f7;
  font-weight: bold;
  cursor: default;
}

th[colspan="8"] {
  background-color: #2E8B57;
  font-size: 1.2em;
}

table td:empty {
  background-color: #e0e0e0;
}

.selected {
  background-color: #ffa;
  border-color: #f90;
}
